/*general styles*/

* {
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 100px;
}

/*header section*/

header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    z-index: 100;
}

.header-logo {
    font-size: 35px;
    color: rgb(115, 115, 115);
    cursor: default;
}

.header-logo span {
    color: rgb(140, 82, 255);
}

.nav-bar a {
    font-size: 18px;
    color: rgb(115, 115, 115);
    text-decoration: none;
    margin-right: 40px;
    font-weight: 500;
    transition: color 0.4s;
}

.nav-bar a:hover {
    color: rgb(140, 82, 255);
}

.nav-btn, .hero-btn1 {
    font-size: 18px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    background-color: rgb(140, 82, 255);
    border: 2px solid rgb(140, 82, 255);
    padding: 8px 17px;
    border-radius: 25px;
    transition: 0.3s;
}

.nav-btn:hover, .hero-btn1:hover {
    background-color: white;
    color: rgb(140, 82, 255);
}

/*hero section*/

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*left-hero section*/

.left-hero {
    max-width: 500px;
}

.left-hero h1, p {
    color: rgb(115, 115, 115);
}

h1 {
    font-size: 40px;
    margin-bottom: 5px;
}

h1 span {
    color: rgb(140, 82, 255);
}

.hero-subtitle {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 5px;
}

.hero-descr {
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.hero-btn-group {
    margin-bottom: 50px;
}

.hero-btn2 {
    margin-left: 20px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(140, 82, 255);
    text-decoration: none;
    background-color: white;
    border: 2px solid rgb(140, 82, 255);
    padding: 8px 17px;
    border-radius: 25px;
    transition: 0.3s;
}

.hero-btn2:hover {
    background-color: rgb(140, 82, 255);
    color: white;
}

.social-icons {
    display: flex;
}

.social-icons a {
    background-color: rgb(140, 82, 255);
    margin-right: 20px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    border: 2px solid white;
    outline: 2px solid rgb(140, 82, 255);
}

.social-icons a i {
    color: white;
}

/*right-hero section*/

.hero-image {
    width: 500px;
    height: 500px;
    object-fit: cover;
}
